<div class="jumbotron">
    <h1>Mars Rover Tracking </h1>
    <p class="lead">STACK:C#(oop,Interfaces,Collections and LinQ),ASP.NET,MVC,WEB API2,UNITY IOC,SWAGGER UI,JSON,RESTFUL API,LITE DB</p>
    <p><a href="/swagger" class="btn btn-primary btn-lg">Click Here To Start SwaggerUI &raquo;</a></p>
</div>

@*"https://asp.net"*@