<div class="jumbotron">
    <h1>Mars Rover Tracking </h1>
    <p class="lead">STACK:C#(oop,Interfaces,Collections and LinQ),ASP.NET,MVC,WEB API2,UNITY IOC,SWAGGER UI,JSON,RESTFUL API,LITE DB</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Click Here To Start SwaggerUI &raquo;</a></p>
</div>
@*<div class="row">
    <div class="col-md-4">
        <h2>Click here to get started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    
</div>*@
